{% extends 'base.html' %} {% block title %}Edit Task{% endblock title %} {%
block content %}
<div class="mb-3">
  <form method="POST" action="{{ url_for('update_task', pk=task['id']) }}">
    <p>
      <label class="form-label" for="summary">Summary</label>
      <input
        type="text"
        name="summary"
        id="id_summary"
        value="{{ task['summary'] }}"
        maxlength="128"
        class="form-control"
        required
      />
    </p>
    <p>
      <label class="form-label" for="description">Description</label>
      <textarea
        class="form-control"
        name="description"
        id="id_description"
        rows="5"
        required
      >
            {{ task["description"] }}</textarea
      >
    </p>

    <input
      type="hidden"
      name="is_active"
      id="id_is_active"
      value="{{ task['is_active'] }}"
    />

    <input type="submit" class="btn btn-success" value="Edit" />
  </form>
</div>
{% endblock content %}
