{% extends 'base.html' %} {% block title %}New Task{% endblock title %} {% block
content %}
<div class="mb-3">
  <form method="POST" action="{{ url_for('create_task') }}">
    <p>
      <label class="form-label" for="summary">Summary</label>
      <input
        type="text"
        name="summary"
        id="id_summary"
        maxlength="128"
        class="form-control"
        required
      />
    </p>
    <p>
      <label class="form-label" for="description">Description</label>
      <textarea
        class="form-control"
        name="description"
        id="id_description"
        rows="5"
        required
      >
      </textarea>
    </p>

    <input type="submit" class="btn btn-success" value="Add Task" />
  </form>
</div>
{% endblock content %}
